[Unit]
Description=BluezALSA proxy
Requires=bluetooth.service
After=bluetooth.service
BindsTo=sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
User=root
ExecStartPre=/usr/local/bin/bt-set-agent
ExecStart=/usr/bin/bluealsa -p a2dp-sink

