[Unit]
Description=BT-Agent
Requires=bluetooth.service
After=bluetooth.service
BindsTo=sys-subsystem-bluetooth-devices-hci0.device

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bt-agent -p /etc/bt-pins.cfg
KillSignal=SIGUSR1
TimeoutStopSec=2
