[Unit]
Wants=dhcpd.service
Wants=dnsmasq.service
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
Type=idle
ExecStart=/bin/hotspot.sh start
ExecStop=/bin/hotspot.sh stop
KillMode=mixed
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hotspot

[Install]
WantedBy=multi-user.target

