[Unit]
Description = Axiom Updater Service
Wants=volumio.service


[Service]
ExecStart=/usr/local/bin/update_service https://s3.amazonaws.com/axiom-air-install-files/AxiomAirV1/updates/
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=updater
User=root
Group=root

[Install]
WantedBy=multi-user.target

