[Unit]
Description=Volspotconnect2 Daemon
After=syslog.target

[Service]
Type=simple
ExecStart=/bin/bash /volumio/app/plugins/music_service/volspotconnect2/startconnect.sh
Restart=always
RestartSec=2
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target

